/* Typography */

.body {
  font-family: "Raleway", "Sans serif";
  margin: 0;
  padding: 0;
}

.container{
    height: 100vh; /* vh=view height */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.75fr 1fr 3fr 2fr 1fr;
    grid-template-areas: 
    "logo nav nav"
    "recherche recherche recherche"
    "hebergement hebergement populaire"
    "activite activite activite"
    "footer footer footer"
    ;
}

.logo{
    grid-area: logo;
    background-color: white;
}

.nav{
    grid-area: nav;
    background-color: white;
}

.recherche{
    grid-area: recherche;
    background-color: orange;
}

.hebergement{
    grid-area: hebergement;
    background-color: blue;
}

.populaire{
    grid-area: populaire;
    background-color: yellow;
}

.activite{
    grid-area: activite;
    background-color: purple;
}

.footer{
    grid-area: footer;
    background-color: #DEEBFF;
}

@media screen and (max-width: 768px){
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.75fr 2fr 2fr 6fr 6fr 2fr;
    grid-template-areas: 
    "logo"
    "nav"
    "recherche"
    "populaire"
    "hebergement"
    "activite"
    "footer"
    ;
    }
}

li {
    display: inline;
}


/* footer */

.wrapper {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    line-height: 2em;
  }
  
  .gauche,
  .milieu,
  .droite {
    background-color: #F2F2F2;
    order: 0;
  }
  
  .gauche,
  .milieu,
  .droite {
    flex: 1;
  }
  
  @media only screen and (max-width: 768px) {
    .milieu {
      width: 100%;
      order: 0;
    }
    .gauche {
      width: 100%;
    }
    .droite {
      width: 100%;
    }
    .gauche,
    .milieu,
    .droite {
      flex: none;
    }
  }