/* mise en page */

a{
  text-decoration: none;
  color: inherit;
}

p{
  display: inline;
}

img {
	max-width: 100%;
	height: auto;
}

body {
  font-family: Raleway, "Sans serif";
  margin: 0;
}

h1 {
  display: block;
  font-size: 1.25em;
  font-weight: bold;
}

h3{
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

h4{ 
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
}

h5{ 
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}


li {
  display: inline;
}

#search{
  display: none;
}


/* survol des liens */

.footer a:hover{
  text-decoration: underline;
  margin-top: 0;
}

.nav a:hover{
  border-top: 3px solid #0065FC;
  padding-top: 29px;
  color: #0065FC;
}


/* header */

header{
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
}

.container{
    height: 100vh; /* vh=view height */
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: grid;
    column-gap: 40px;
    row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "recherche recherche recherche"
    "filtre filtre filtre"
    "resultat resultat resultat"
    "hebergement hebergement populaire"
    "activite activite activite"
    "footer footer footer"
    ;
}

.logo{
    grid-area: logo;
    background-color: white;
    margin-top: 1em;
    flex-grow: 2;
}

.nav{
    display: flex;
    padding-right: 50px;
    word-spacing: 50px;
    margin-top: 1em;
    align-items: center;
    font-weight: 500;
}

.login{
  display: block;
  flex-direction: row-reverse;
  margin-top: 2em;
  align-items: center;
  color: #0065FC;
  font-weight: bold;
}

/* recherche */

.recherche{
    grid-area: recherche;
    background-color: white;
}

button{
  border: solid 1px #ccc;
  height: 3.5em;
  width: 8em;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  background-color: #0065FC;
  font-family: "Raleway", "Sans serif";
  font-weight: bold;
}

input[type="search"]{
  padding: 1em;
  width: 16em;
  height: 3.5em;
  border: 2px solid #F2F2F2;
  font-weight: bold;
}

/* filtre */

.filtre{
  grid-area: filtre;
  background-color: white;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
}

.filtretext{
  display: inline;
  border: solid #F2F2F2;
  border-radius: 45px;
  text-align : center;
  padding-right: 22px;
  margin: 15px;
}

.filtretext:hover{
  color: #0065FC;
  cursor: pointer;
}

.fas.fa-money-bill-wave,
.fas.fa-child,
.fas.fa-heart,
.fas.fa-dog{
  color: #0065FC;
  text-align : center;
  padding : 1em;
  width  : 1em;
  height : 1em;
  border-radius: 100%;
  background-color: #DEEBFF;
  margin-right: 15px;
}

.fas.fa-info{
  color: #0065FC;
  border: solid #F2F2F2;
  text-align : center;
  padding : 0.25em;
  width  : 1em;
  height : 1em;
  border-radius: 100%;
}

/* hebergement */

#hebergement{
    grid-area: hebergement;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 2rem;
}

.hebergementimg{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

.hebergementcadre{
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  line-height: 1.5em;
  box-shadow: 5px 5px 10px #ccc;
}

.photohebergement{
  width: 100%;
  height: 125px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
}

/* populaire */



.fas.fa-star.blue{
  color: #0065FC;
}

.fas.fa-star.grey{
  color: #ccc;
}

.fas.fa-map-marker-alt{
  text-align: center;
  padding: 1em;
  width: 1em;
  height: 1em;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #F2F2F2;
}

.etoilespop{
  padding-top: 50px;
}

.populaire{
    grid-area: populaire;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 2rem;
}

.populairestyle{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.populaireimg{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}

.populairecadre{
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px #ccc;
}

.photopopulaire {
  width: 150px;
  height: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  float: left;
  margin-right: 10px;
  object-fit: cover;
}

/* activite */

#activite{
    grid-area: activite;
    background-color: white;
}

.activiteimg{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}

.activitecadre01{
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
  grid-column: 1;
  grid-row: 1 / 3;
}

.activitecadre02{
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.activitecadre03{
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.activitecadre04{
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
  grid-column: 3;
  grid-row: 1 / 3;
}

.activitecadre05{
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.activitecadre06{
  border-radius: 10px;
  box-shadow: 5px 5px 10px #ccc;
  cursor: pointer;
}

.photoactivite{
  width: 100%;
  height: 157px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 8px;
}

.photoactivite01{
  width: 100%;
  height: 385px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 8px;
}

.photoactivite04{
  width: 100%;
  height: 385px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  object-fit: cover;
  margin-bottom: 8px;
}


/* footer */

.footer{
  grid-area: footer;
  background-color: #F2F2F2;
  text-decoration:none;
  padding-bottom: 20px;
}

.wrapper{
    margin-left: 5rem;
    margin-top: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    line-height: 2em;
  }
  
  .gauche,
  .milieu,
  .droite{
    background-color: #F2F2F2;
    order: 0;
  }
  
  .gauche,
  .milieu,
  .droite{
    flex: 1;
  }

  /* Responsive */
  

@media (min-width: 768px) and (max-width: 1024px){
    .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "recherche recherche"
    "filtre filtre"
    "resultat resultat"
    "populaire populaire"
    "hebergement hebergement"
    "activite activite"
    "footer footer";
    }

    .photopopulaire {
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      float: left;
      margin-right: 30px;
      object-fit: cover;
  }

    .hebergementimg,
    .populaireimg {
      text-align: center;
      grid-template-columns: 1fr;
    }

    .activiteimg{
      display: flex;
      flex-direction: column;
      text-align: left;
      grid-template-columns: 1fr;
    }

    .wrapper {
      display: flex;
      text-align: left;
      margin-top: 30px;
      margin-left: 30px;
    }

    .hebergementcadre,
    .populairecadre {
      text-align: justify;
    }

    h1 {
      text-align: left;
    }

    .photoactivite,
    .photoactivite01,
    .photoactivite04 {
      width: 100%;
      height: 200px;
    }

    a {
      text-decoration: none;
      color: inherit;
      text-align: initial;
    }

}

@media (min-width: 300px) and (max-width: 767px){

  body {
    font-family: Raleway, "Sans serif";
    margin: 0;
    padding: 15px;
    font-size: 330%;
    display: block;
    width: fit-content;
  }

  .container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "recherche recherche"
    "filtre filtre"
    "resultat resultat"
    "populaire populaire"
    "hebergement hebergement"
    "activite activite"
    "footer footer";
    }

  img {
    max-width: 100%;
    height: 150px;
  }

  img.photoactivite,
  img.photoactivite01,
  img.photoactivite04 {
  width: 100%;
  height: 400px;
  }

  .filtretext {
    display: inline;
    border: solid #F2F2F2;
    border-radius: 80px;
    text-align: center;
    padding-right: 22px;
    margin: 15px;
  }

  header{
    display: flex;
    flex-direction: column;
  }

  li {
    display: inline;
    box-sizing: border-box;
    width: 100%;
    padding: 186px;
  }

  li:hover{
    border-bottom: 50px solid #0065FC;
    padding-bottom: 50px;
    border-top: none;
    color: #0065FC;
  }

  ul {
    display: table;
  }

  .login {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -2em;
    align-items: center;
    color: #0065FC;
    font-weight: bold;
  }

  .nav {
    display: flex;
    padding-right: 0;
    margin-top: 2em;
    align-items: center;
    font-weight: 500;
    order: 3;
    border-bottom: 3px solid #ccc;
    justify-content: space-around;
  }

  .nav a:hover{
  border-top: none;
  }

  .recherche {
    grid-area: recherche;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
  }

  input[type="search"] {
    padding: 1em;
    width: 17em;
    height: 2.5em;
    border: 2px solid #F2F2F2;
    font-weight: bold;
    font-size: larger;
  }

  form[method="post"] {
    display: inline-flex;
  }

  .fas.fa-map-marker-alt {
    text-align: center;
    padding: 1em;
    width: 1em;
    height: 1em;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #F2F2F2;
  }

  button {
    border: solid 1px #ccc;
    height: 12.5em;
    width: 13em;
    color: white;
    background-color: #0065FC;
    font-family: "Raleway", "Sans serif";
    font-weight: bold;
    border-radius: 20px;
  }

  .resultat {
    padding-left: 30px;
    padding-right: 30px;
  }

  .titre_filtre{
    padding-left: 30px;
  }

  .filtre {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
    align-items: center;
    column-gap: 230px;
    row-gap: 30px;
  }

  .container {
    height: 100vh;
    padding-top: 30px;
    padding: initial;
    display: grid;
    column-gap: 40px;
    row-gap: 30px;
  }

  #hebergement {
    background-color: white;
  }

  .photohebergement {
    width: 100%;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: cover;
  }

  #activite {
    grid-area: activite;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
  }

  .photopopulaire{
    height: 400px;
    width: 500px;
  }

  .etoilespop {
    padding-top: 120px;
  }

  .activiteimg{
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-template-columns: 1fr;
  }

  .hebergementimg{
    grid-template-columns: 1fr;
  }

  .wrapper {
    display: flex;
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
    row-gap: 50px;
    flex-direction: column;
  }

  #text_rechercher{
    display: none;
  }

  #search{
    display: initial;
        font-size: 300%;
  }

}